# Ignore compiled SourceMod plugins and local build artifacts
*.smx
*.txt
*.log
cstrike/
node_modules/
.vscode/
*.zip

# Ignore VS Code workspace file
Counter-Strike-Plugins.code-workspace
*.txt
/In Development/
CSS-Debugging.md