# Ignore compiled SourceMod plugins and local build artifacts

*.txt
*.log
cstrike/
node_modules/
.vscode/
*.zip
.gitignore

# Ignore VS Code workspace file
Counter-Strike-Plugins.code-workspace
*.txt

